<div class="row">

    <div class="col-8">
        <h1> Los 4 FAN </h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, incidunt facilis placeat quis debitis, a sequi quam beatae illo, laboriosam itaque dignissimos. Commodi excepturi quisquam delectus ad aliquid vitae numquam.
        </p>
    </div>

<div class="col-4">
    <img src="assets/images/imagen1.jpg" alt="img-thumbnail">
</div>

</div>